* {
  	box-sizing: border-box;
}

body {
    background: url(../../assets/img/background.jpg) right center no-repeat;
    background-size: cover;
    height: 98vh;
}

img {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.verder {
  	background-color: #F6CB48;
  	border: 2px solid transparent;
  	color: #000000;
  	padding: 15px 32px;
  	border-radius: 8px;
  	font-size: 18px;
  	float: right;
  	text-decoration: none;
  	font-weight: bold;
    margin-top: 43px;
}

.fa-question-circle {
    color: #E77131;
    float: right;
    font-size: 20px;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popup .popuptext {
    visibility: hidden;
    width: 254px;
    background-color: #F2B797;
    color: #000000;
    text-align: center;
    border-radius: 8px;
    padding: 22px 16px;
    position: absolute;
    z-index: 1;
    bottom: -27px;
    right: 30px;
    font-family: 'Nunito';
    font-size: 16px !important;
    font-weight: normal !important;
}

.popup .show {
    visibility: visible;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

button {
    border: none;
    float: left;
    text-align: center;
    overflow: auto;
    width: 33.33%;
    outline: none !important;
    background-color: transparent;
}

.row {
    margin-top: 40px;
}

.btn {
    background-color: #F1D9CD;
    border-radius: 8px;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    height: 63px;
    width: 97px;
}

.btnChanged {
    background-color: #FAE4A2;
    border-radius: 8px;
    border: 4px solid #F6CB48;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    height: 63px;
    width: 97px;
}

.margin {
    margin-top: 20px;
    display: inline-block;
    margin-left: 4px;
}
