* {
  	box-sizing: border-box;
}

img {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.verder {
  	background-color: #F6CB48;
  	border: 2px solid transparent;
  	color: #000000;
  	padding: 15px 32px;
  	border-radius: 8px;
  	font-size: 18px;
  	float: right;
  	text-decoration: none;
  	font-weight: bold;
}

.fa-question-circle {
    color: #E77131;
    float: right;
    font-size: 20px;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popup .popuptext {
    visibility: hidden;
    width: 254px;
    background-color: #F2B797;
    color: #000000;
    text-align: center;
    border-radius: 8px;
    padding: 22px 16px;
    position: absolute;
    z-index: 1;
    bottom: -27px;
    right: 30px;
    font-family: 'Nunito';
    font-size: 16px !important;
    font-weight: normal !important;
}

.popup .show {
    visibility: visible;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/*.column {
  	float: left;
  	width: 33.33%;
  	padding: 15px 32px;
  	background-color: #707070;
  	border: 2px solid transparent;
  	border-radius: 8px;
}

.row::after {
  	content: "";
  	clear: both;
  	display: table;
}*/

.row a {
    margin-left: 10px;
    float: left;
    text-align: center;
    overflow: auto;
}

.row a img {
    width: 100px;
    border: 2px solid white;
    border-radius: 50%;
}
