h1 {
	margin-top: 80px;
}

input[type=email], input[type="password"] {
  	width: 100%;
  	padding: 10px 20px;
  	margin: 10px 0px 20px 0px;
  	box-sizing: border-box;
  	border-radius: 8px;
    font-size: 18px;
}

input[type=submit] {
  	background-color: #F6CB48;
    border: 2px solid transparent;
    color: #000000;
    padding: 15px 32px;
    border-radius: 8px;
    font-size: 18px;
    width: 100%;
    margin-top: 30px;
    font-weight: bold;
}

.bold {
	font-weight: bold;
}

.center {
	text-align: center;
}

.marginZestig {
	margin-top: 60px;
}

.marginVeertig {
	margin-top: 40px;
}

a {
	color: #000000;
}

.marginTwintig {
    margin-top: 20px;
}
