/* Style voor de cross knop */
a {
    text-decoration: none;
}   

header a {
    color: black;
}

/* Body */
.mijn-aap-body {
    background: url(../../assets/img/background.jpg) right center no-repeat;
    background-size: cover;
    height: 100vh;
}

/* Titel van de pagina links boven */
.naam-aap, .shop-titel {
    font-size: 26px;
}

/* Progressbar */
.progress-aap {
    margin: 20px 0px 30px 0px;
}

/* Styling van shop knop */
.shop-btn i {
    font-size: 15px;
    margin-right: 5px;
}

.shop-btn {
    float: right;
}

/* De aap zelf styling */
.mijn-aap-img {
    width: 100%;
}

/* 3 Knoppen styling */
.row {
    display: flex;
}

.row a {
    flex: 1;
    text-align: center;
}

.tama-btn {
    background: #99B3A8;
    border: 5px solid #99B3A8;
    box-shadow: 0px 0px 10px rgb(153, 179, 168);
}

/* Shop pagina */
.cross {
    font-size: 30px;
    float: right;
}

.header-shop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shop-img {
    height: 293px;
    display: block;
    margin: auto;
    margin-right: -20px;
    position: absolute;
}

.kosten-fon {
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
}

.shop-bananen {
    height: 20px;
    margin-right: 5px;
}

.shop-clmn {
    display: flex;
    padding: 25px 21px;
}

.fa-share-alt {
    font-size: 30px;
    float: right;
}

/* Shop keuzes */
.clmns-kleur {
    margin-top: 300px;
}

.user-keuze {
    position: relative;
    display: block;
    transform: translate(30px, 0px);
}
.bedrag-shop {
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
}

.naam-product {
    font-size: 14px;
}

.naam-keuze {
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
}

.keuze-beschrijfing {
    font-size: 16px;
    margin: 0px;
}

.keuzen-menu {
    padding: 20px;
    background: #C7E6E2;
    border-radius: 10px;
    margin-top: 300px;
}

.keuzes {
    display: flex;
    margin: 30px 0px 50px 0px;
}

.keuze-row {
    flex: 1;
    text-align: center;
}

.keuze-icon {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin: auto auto 10px auto;
}

.bruin {
    background: #B17537;
}

.roze {
    background: #E26969;
}

.groen {
    background: #249F8D;
}

.keuze-button .btn-3 {
    margin-left: auto;
}

.bril-icon {
    width: 50px;
    transform: translate(0px, 25px);
}