h1 {
	margin-top: 80px;
}

input[type=email], input[type="password"] {
  	width: 100%;
  	padding: 10px 20px;
  	margin: 10px 0px 20px 0px;
  	box-sizing: border-box;
  	border-radius: 8px;
    font-size: 18px;
}

.center {
	text-align: center;
}

.bold {
	font-weight: bold;
}

input[type=submit] {
  	background-color: white;
  	border: 2px solid green;
  	color: green;
  	padding: 15px 32px;
  	border-radius: 8px;
  	font-size: 18px;
  	width: 100%;
  	margin-top: 30px;
    font-weight: bold;
}

.marginZeventig {
    margin-top: 70px;
}

.marginVeertig {
    margin-top: 40px;
}

a {
    color: #000000;
}
