input[type=email] {
  	width: 100%;
  	padding: 10px 20px;
  	margin: 10px 0px 20px 0px;
  	box-sizing: border-box;
  	border-radius: 8px;
    font-size: 18px;
}

input[type=submit] {
  	background-color: white;
    border: 2px solid green;
    color: green;
    padding: 15px 32px;
    border-radius: 8px;
    font-size: 18px;
    width: 100%;
    margin-top: 30px;
    font-weight: bold;
}

h1 {
    margin-top: 80px;
}

.bold {
    font-weight: bold;
}

.right {
    position: relative;
    float: right;
    font-size: 40px;
    top: -28px;
    color: #000000;
}
