body {
	background: url(../../assets/img/background.jpg) right center no-repeat;
    background-size: cover;
    height: 100vh;
}

img {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.verder {
  	background-color: #F6CB48;
  	border: 2px solid transparent;
  	color: #000000;
  	padding: 15px 32px;
  	border-radius: 8px;
  	font-size: 18px;
  	float: right;
  	text-decoration: none;
  	font-weight: bold;
}

input[type="text"] {
  	padding: 10px 20px;
  	margin: 10px 0px 20px 0px;
  	box-sizing: border-box;
  	border-radius: 8px;
}
