body {
	font-family: 'Nunito';
	margin: 0px 20px 0px 20px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Montserrat';
}

header {
	margin-top: 30px;
}

header img {
	float: left;
	height: 60px;
	width: 60px;
}

header h5 {
  	position: relative;
  	top: 23px;
  	left: 16px;
}

/* Default styiling voor btn 3 */
.btn-3 {
    padding: 6px 20px;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Nunito', sans-serif;
    background: #F6CB48;
    display: block;
    color: black;
    width: fit-content;
    border-radius: 10px;
}

/* Progressbar voor de mijn aap pagina en voor de dashboard */
progress {
    width: 100%;
    height: 20px;
    border-radius: 50px;
}

progress::-webkit-progress-bar {
    background-color: #E77131;
    border-radius: 50px;
}

progress::-webkit-progress-value {
  background-color: #249F8D;
  border-radius: 50px;
}

/* Knoppen voor de bank knoppen */
.bank-clmn {
    padding: 15px 10px;
    border-radius: 10px;
    border: 5px solid #F1D9CD;
    background: #F1D9CD;
    margin: 10px 5% 10px 5%;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(153, 179, 168);
}

.bank-icons {
    height: 40px;
}

/* Score styling van hoeveel bananen de gebruiker heeft */
.score {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: flex-end;
}

.img-score {
    height: 36px;
    margin-right: 10px;
}

.score-font {
    font-weight: bold;
    font-size: 26px;
    font-family: 'Montserrat';
    margin: 0px;
}