body {
    font-family: 'Nunito';
    margin: 0px 20px 0px 20px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat';
    font-weight: bolder !important;
    /* Ergens anders word aangegeven wat het moet zijn vandaar dat important noodzakelijk is */
}
footer {
    margin-top: 90px;
    text-align: center;
}

.navbar {
    background-color: #F7EBE5!important;
}

footer a {
    text-decoration: none;
}

.question {
    font-size: 22px;
    color: #E77131;
    margin-top: 10px;
}

footer small{
    font-size: 11px;
    font-family: 'Montserrat';
    font-weight: bold !important;
    color: #1A776A;
}
header {
    margin-top: 20px;
}

header img {
    float: left;
    height: 60px;
    width: 60px;
}

header h5 {
    position: relative;
    top: 23px;
    left: 2px;
}

/* Default styiling voor btn 3 */
.btn-3 {
    padding: 6px 20px;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Nunito', sans-serif;
    background: #F6CB48;
    display: block;
    color: black;
    width: fit-content;
    border-radius: 10px;
}

/* Progressbar voor de mijn aap pagina en voor de dashboard */
progress {
    width: 100%;
    height: 20px;
    border-radius: 50px;
}

progress::-webkit-progress-bar {
    background-color: #E77131;
    border-radius: 50px;
}

progress::-webkit-progress-value {
    background-color: #249F8D;
    border-radius: 50px;
}

/* Knoppen voor de bank knoppen */
.bank-clmn {
    padding: 15px 10px;
    border-radius: 10px;
    border: 5px solid #F1D9CD;
    background: #F1D9CD;
    margin: 10px 5% 10px 5%;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(153, 179, 168);
}

.bank-icons {
    height: 40px;
}

/* Score styling van hoeveel bananen de gebruiker heeft */
.score {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: flex-end;
}

.img-score {
    height: 36px;
    margin-right: 10px;
}

.score-font {
    font-weight: bold;
    font-size: 26px;
    font-family: 'Montserrat';
    margin: 0px;
}

.fa-twitter {
    color: #ffffff;
    background-color: #1DA1F2;
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.5em;
    font-size: 25px;
    margin: 0px 10px 0px 10px;
}

.fa-google {
    color: #ffffff;
    background-color: #DB4437;
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.5em;
    font-size: 25px;
    margin: 0px 10px 0px 10px;
}

.fa-facebook-f {
    color: #ffffff;
    background-color: #3b5998;
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.7em;
    font-size: 25px;
    margin: 0px 10px 0px 10px;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popup .popuptext {
    visibility: hidden;
    width: 223px;
    background-color: #F2B797;
    color: #000000;
    text-align: center;
    border-radius: 8px;
    padding: 22px 16px;
    position: absolute;
    z-index: 1;
    bottom: -35px;
    right: 30px;
    font-family: 'Nunito';
    font-size: 16px !important;
    font-weight: normal !important;
}

.popup .show {
    visibility: visible;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

