body {
	font-family: 'Nunito';
	margin: 0px 20px 0px 20px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Montserrat';
}

header {
	margin-top: 30px;
}

header img {
	float: left;
	height: 60px;
	width: 60px;
}

header h5 {
  	position: relative;
  	top: 23px;
  	left: 16px;
}

/* Progressbar voor de mijn aap pagina en voor de dashboard */
progress {
    width: 100%;
    height: 20px;
    border-radius: 50px;
}

progress::-webkit-progress-bar {
    background-color: #E77131;
    border-radius: 50px;
}

progress::-webkit-progress-value {
  background-color: #249F8D;
  border-radius: 50px;
}