body {
	background: url(../../assets/img/background.jpg) right center no-repeat;
    background-size: cover;
    height: 100vh;
}

h1 {
	margin-top: 80px;
}

a {
    text-decoration: none;
    color: black;
}

.rabobank {
    width: 120px;
    background-color:#F1D9CD;
    padding: 10px;
    border-radius: 1em;
    /* padding: 1em, 2em; */
}


div:nth-of-type(2) img{
    display: inline;
    width: 10%;
    height: 10%;
    float:right;
}


div:nth-of-type(3) {
margin-top: 5%;
}

.kruis {
    display: inline;
    float: right;
    position: relative;
    top: -23px;
    width: 10%;
    height: 10%;
}

h1 {
    width: 50%;
}

